@model List<testMVC4.Models.ReceptionModel>

@{
    ViewBag.Title = "ShowReceptionHours";
}

<h2>ShowReceptionHours</h2>


<table id="reception_table">
    <tr>
        <td>Day of week</td>
        <td>Time of statr</td>
        <td>Duration</td>
        @*<td>Button</td>*@
    </tr>
    @{
        foreach (var m in Model)
        {
            <tr id="@m.Id">
                <td>@m.DayName</td>
                <td>@Html.Label(@m.Time.ToString())</td>
                <td>@Html.Label(@m.Duration.ToString())</td>
                @*<td>@Html.TextBoxFor(x => x.FirstOrDefault(z => z.Id == m.Id).Time)</td>*@
                @*<td>@Html.TextBoxFor((x => x.FirstOrDefault(z => z.Id == m.Id).Duration))</td>*@
                @*<td><a href="@Url.Action("OneReceptionManage", "User", new { id = @m.Id })">Edit</a></td>*@
                @*<td><button>Edit</button></td>*@
                @Html.HiddenFor((x => x.FirstOrDefault(z => z.Id == m.Id).Day))
                @Html.HiddenFor((x => x.FirstOrDefault(z => z.Id == m.Id).Week))
                @Html.HiddenFor((x => x.FirstOrDefault(z => z.Id == m.Id).Id))
                @Html.HiddenFor((x => x.FirstOrDefault(z => z.Id == m.Id).DoctorId))
            </tr>
        }
    }
</table>
