@model List<testMVC4.Models.UserModel>

@{
    ViewBag.Title = "DoctorsManage";
}

<h2>DoctorsManage</h2>


<table id="doctors_table">
    <tr>
        <td>id</td>
        <td>name</td>
        <td>surname</td>
        <td>lastname</td>
        <td>b. day</td>
        <td>email</td>
        <td>is doctor</td>
        <td>button</td>
    </tr>
    @foreach (var u in Model)
    {
        <tr>
            <td>@u.Id</td>
            <td>@u.UserName</td>
            <td>@u.SecondName</td>
            <td>@u.LastName</td>
            <td>@u.Birthday</td>
            <td>@u.Email</td>
            <td>@u.IsDoctor</td>
            <td><button id="@u.Id">
                @if(u.IsDoctor == false)
                {
                    <b>Set Status</b>
                }
                else
                {
                    <b>Unset Status</b>
                }
                </button></td>
        </tr>
    }
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $("#doctors_table button").each(function () {
            $(this).on('click', function () {
                console.log($(this).attr('id') + " clicked");
                $.post('/User/SetDoctorStatus', { id: $(this).attr('id') })
                    .success(function (data) {
                        window.location = "/User/DoctorsManage";
                    });
            });
        });
    });
</script>