<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/bPopup.js"></script>
    <script src="~/Scripts/main.js"></script>
</head>
<body>
    <header>

        <div id="element_to_pop_up">
            <a class="b-close"><a />
                <div class="pop_up_header">
                    <p>Авторизация</p>
                </div>
                <div class="pop_up_padding avtorization">
                    <div class="enter_input" id="email_div">
                        <img src="~/content/img/ico/user.png" />
                        <div class="input_margin">
                            <input id="email" name="email"/>
                        </div>
                    </div>
                    <div class="enter_input" id="password_div">
                        <img src="~/Content/img/ico/pass.png" />
                        <div class="input_margin">
                            <input id="password" name="password"/>
                        </div>
                    </div>
                    <div class="pop_up_link fl">
                        <a href="">Забыли пароль?</a>
                        <a href="@Url.Action("Registration", "User")">Регистрация</a>
                    </div>
                    <div class="clear"></div>
                    <button id="enter">Войти</button>
                </div>
        </div>

        <div class="menu_wrap">
            <div class="center">
                <nav>
                    <ul class="menu">
                        <li><a href="@Url.Action("Index", "Home")" id="Index">Главная</a></li>
                        @*<li><a href="@Url.Action("Index", "Home")" class="active">@ViewBag.Title</a></li>*@
                        <li><a href="" class="menu_item" id="News">Новости</a></li>
                        <li><a href="@Url.Action("GetDoctors", "Doctor")" id="GetDoctors">Консультация врача</a></li>
                        <li><a href="@Url.Action("Contacts", "Home")" id="Contacts">Контакты</a></li>
                        <li><a href="@Url.Action("AboutUs", "Home")" id="AboutUs">О нас</a></li>

                        @{
                            if (Session["UserName"] != null)
                            {
                                <li><a id="my-button1" class="enter" href="@Url.Action("LogOut", "User")"><span class="enter_img"></span>Выход</a></li>
                            }
                            else
                            {
                                <li><a id="my-button" class="enter" href=""><span class="enter_img"></span>Вход</a></li>
                            }
                        }
                    </ul>
                </nav>
                <div class="serch_wrapper fr">
                    <input class="search" type="text" />
                    <span class="search_ico"></span>
                </div>

            </div>
        </div>

        <div class="t_center">
            <div class="main_banner">
                <img src="~/Content/img/main_banner.png" />
                <div class="title">
                    <div class="title_back"></div>
                    <div class="title_text"><h1>Ваше здоровье</h1></div>
                </div>

            </div>
        </div>
    </header>
    @RenderBody()
    <footer class="footer">
        @*<div class="leave">
            <img src="~/Content/img/leave.png" />
        </div>*@
        <div class="center">
            <div class="social fl">
                <a class="tw" href=""></a>
                <a class="gp" href=""></a>
                <a class="fb" href=""></a>
            </div>

            <div class="footer_contact fr">
                <p>тел.:  +38 056 999 35 56 <br /> E-mail:  Registratur@gmail.com</p>
            </div>

        </div>

    </footer><!-- .footer -->
    <script type="text/javascript">
        $(document).ready(function () {
            console.log('bla');
            $('.menu li a').each(function () {
                if ($(this).prop('id') == '@ViewBag.Title')
                    $(this).addClass('active');
                else
                    $(this).removeClass('active');
            });
            $('#enter').on('click', function () {

                $.post('/User/LoginAjax', { email: $('#email').val(), password: $('#password').val() })
                    .success(function (data) {
                        if(data == true)
                        {
                            window.location = "/Home/Index";
                        }
                        else
                        {
                            $('.input_margin').css('border-color', 'red');
                            console.log(data);
                        }
                    });
            });
        });
    </script>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
    
@*</body>*@
</html>